@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {


  
  .form {

    @apply bg-white
  }
}

@layer components {


    }
    



/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: teal;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #004c4c;
}

